#add-model .add-model-container {
    text-align: center;
    padding: 2em;
    max-width: 600px;
    border-radius: 10px;
    margin: 0 auto;
}

@media only screen and (max-width: 300px) {
    #add-model .add-model-container {
        padding: 1em;
    }
}