#profile .profile-container .detail {
    align-items: center;
    display: flex;
    margin-bottom: 1em;
}

#profile .profile-container .detail p,
#profile .profile-container .detail input {
    flex: 50%;
}

#profile .profile-container .detail input {
    margin: 0;
}

#profile .profile-container .profile-details button {
    width: max-content;
}

@media only screen and (max-width: 400px) {
    #profile .profile-container .detail {
        flex-direction: column;
        align-items: unset;
    }
}