#edit-role .edit-role-container {
    max-width: 400px;
    margin: 0 auto;
}

#edit-role .edit-role-container div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--light-color);
}

#edit-role .edit-role-container p,
#edit-role .edit-role-container div select {
    width: 50%;
}

#edit-role .edit-role-container button {
    width: max-content;
}

.head p {
    font-weight: 600;
}