#hero {
    background-color: #eee;
    text-align: center;
}

#hero,
#categories {
    background-color: var(--light-color);
}

#features,
#useful {
    display: flex;
}

#features ul,
#useful ul {
    padding: 0;
}

#features ul li,
#useful ul li {
    margin-right: 20px;
    margin-bottom: 10px;
}

#features .features-image-container, #useful .useful-image-container {
    flex: 65%;
}

#features .features-info-container, #useful .useful-info-container {
    flex: 35%;
}

#features .features-info-container {
    padding: 2em;
}

#features .features-image-container img, #useful .useful-image-container img {
    width: 100%;
    object-fit: cover;
}

#categories {
    display: flex;
    flex-direction: column;
}

#categories .categories-container {
    display: flex;
}

#categories .category {
    font-weight: bold;
    flex: 1;
    padding: 2em 1em;
    margin: 1em;
    text-align: center;
    box-shadow: 1px 1px 10px black;
    background: background-color: var(--lighter-color);
}

#categories .category:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 1200px) {
  #categories .category {
    flex: unset;
  }
  #categories .categories-container {
      flex-wrap: wrap;
      justify-content: center;
  }
}

@media only screen and (max-width: 1000px) {
  #features,
  #useful {
  	display: flex;
  	flex-direction: column;
  	text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  #categories h1 {
    text-align: center;
  }
  #categories .categories-container {
      flex-wrap: unset;
      flex-direction: column;
  }
}