@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100%;
    min-height: calc(100vh - 83px - 118px);
}

section {
    padding: 2em;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 8px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

select {
    margin-bottom: 10px;
    padding: 8px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: red;
    text-decoration: none;
    border-radius: 5px;
}

.red-two {
    color: red;
}
