@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --main-color: #F8F9FA;
  --dark-color: #343A40;
  --lighter-color: #ADB5BD;
  --light-color: #DEE2E6;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1920px;
}

main {
    height: 100%;
    min-height: calc(100vh - 83px - 118px);
    background: var(--main-color);
}

main a {
    color: var(--dark-color);
    font-weight: bold;
}

section {
    padding: 3em;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 8px;
}

form button {
    padding: 10px;
    background-color: var(--dark-color);
    color: var(--main-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

select {
    margin-bottom: 10px;
    padding: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

.red-two {
    color: red;
}

.text-danger {
    color: red;
}

.text-success {
   color: green;
}

.text-danger,
.text-success,
.offers-message {
    text-align: center;
}

@media only screen and (max-width: 800px) {
    section {
        padding: 2em;
    }
}

@media only screen and (max-width: 400px) {
    section {
        padding: 1em;
    }
}
