<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/commons::head}"></head>

    <body>
        <header th:replace="~{fragments/commons::header}"></header>
        <main>
            <section id="contact-info">
                <h2>Contact Information</h2>
                <p>If you prefer to reach us through other means, feel free to contact us using the information below:</p>
                <p>Email: <a href="mailto:info@yourcompany.com">info@yourcompany.com</a></p>
                <p>Phone: (123) 456-7890</p>
            </section>
        </main>
        <footer th:replace="~{fragments/commons::footer}"></footer>
    </body>
</html>
