<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{fragments/commons::head}"></th:block>
        <link rel="stylesheet" href="/css/error.css"/>
    </head>

    <body>
        <section id="error">
            <div class="error-details">
                <h1>Oops! Something went wrong.</h1>
                <p>We're sorry, but there seems to be an error. Please try again later.</p>
                <a th:href="@{/}">Return to homepage</a>
            </div>
        </section>
    </body>
</html>
