<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
      <th:block th:insert="~{fragments/commons::head}"></th:block>
      <link rel="stylesheet" href="/css/offer.css"/>
    </head>

    <body>
        <header th:replace="~{fragments/commons::header}"></header>
        <main>
            <section id="offer">
                <p class="offers-message" th:if="${offer == null}">Apologies! The offer you're looking for isn't available. Check out other exciting deals on our website!</p>
                <div class="offer" th:unless="${offer == null}">
                    <div class="offer-image">
                        <img th:if="${offer.picture != null}" th:src="@{'data:image/jpeg;base64,'+${offer.generateBase64Image()}}"/>
                        <img th:unless="${offer.picture != null}" th:src="@{/img/no-image.png}"/>
                    </div>
                    <div class="offer-details">
                        <div class="offer-title">
                            <h2 th:text="${offer.title}">2006 BMW 3 series perfect condition</h2>
                        </div>
                        <div class="car-details">
                            <h3>Car info</h3>
                            <ul>
                                <li th:text="'Brand: ' + ${offer.model.brand.name}">Brand: BMW</li>
                                <li th:text="'Model: ' + ${offer.model.name}">Model: 3 Series</li>
                                <li th:text="'Fuel type: ' + ${#strings.toLowerCase(offer.engine.fuelType)}">Fuel type: Petrol</li>
                                <li th:text="'Displacement: ' + ${offer.engine.displacement} + 'cc'">Displacement: 1995 cc</li>
                                <li th:text="'Power: ' + ${offer.engine.horsepower} +'HP'">Power: 150 hp</li>
                                <li th:text="'Transmission: ' + ${#strings.toLowerCase(offer.transmissionType)}">Transmission: Automatic</li>
                                <li th:text="'Drive type: ' + ${#strings.toLowerCase(offer.driveType)}">Drive type: RWD</li>
                                <li th:text="'Color: ' + ${offer.color}">Color: Midnight Black</li>
                                <li th:text="'Odometer: ' + ${offer.odometer} + 'KM'">Odometer: 123 000KM</li>
                                <li th:text="'Production year: ' + ${offer.year}">Production year: 2006</li>
                                <li th:text="'Service book: ' + ${offer.hasServiceBook == true ? 'yes' : 'no'} ">Service book: YES</li>
                                <li th:text="'Accident damage: ' + ${offer.hasAccidentDamage == true ? 'yes' : 'no'}">Accident damage: NO</li>
                                <li th:text="'Description: ' + ${offer.description}">Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                                <li th:text="'Price: ' + ${offer.price} + 'BGN'">Price: 5000 USD</li>
                            </ul>
                        </div>
                        <div class="seller-details">
                            <h3>Seller info</h3>
                            <ul>
                                <li th:text="'Name: ' + ${offer.addedBy.firstName} + ' ' + ${offer.addedBy.lastName}">Name: Jon Doe</li>
                                <li th:text="'Phone number: ' + ${offer.addedBy.phoneNumber}">Phone number: 0888404040</li>
                            </ul>
                        </div>
                        <form th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') or offer.addedBy == #authentication?.getPrincipal()}" th:method="DELETE" th:action="@{/api/v1/offers/{id}(id=${offer.id})}">
                            <button type="submit">Delete offer</button>
                        </form>
                    </div>
                </div>
          </section>
        </main>
        <footer th:replace="~{fragments/commons::footer}"></footer>
    </body>
</html>
