<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:insert="~{fragments/commons::head}"></th:block>
  <link rel="stylesheet" href="/css/offer.css"/>
</head>

<body>
<header th:replace="~{fragments/commons::header}"></header>
<main>
  <section id="title">
    <h2>Offer</h2>
  </section>

  <section id="offer">
    <div class="offer">
      <div class="offer-image">
        <img th:src="@{/img/car-for-sale.png}"/>
      </div>
      <div class="offer-details">
        <div class="offer-title">
          <h2>2006 BMW 3 series perfect condition</h2>
        </div>
        <div class="car-details">
          <h3>Car info</h3>
          <ul>
            <li>Brand: BMW</li>
            <li>Model: 3 Series</li>
            <li>Fuel type: Petrol</li>
            <li>Displacement: 1995 cc</li>
            <li>Power: 150 hp</li>
            <li>Transmission: Automatic</li>
            <li>Drive type: RWD</li>
            <li>Color: Midnight Black</li>
            <li>Odometer: 123 000KM</li>
            <li>Production year: 2006</li>
            <li>Service book: YES</li>
            <li>Accident damage: NO</li>
            <li>Description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
            <li>Price: 5000 USD</li>
          </ul>
        </div>
        <div class="seller-details">
          <h3>Seller info</h3>
          <ul>
            <li>Name: Jon Doe</li>
            <li>Phone number: 0888404040</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>

</html>
