<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{fragments/commons::head}"></th:block>
    <link rel="stylesheet" href="/css/offers.css"/>
</head>

<body>
    <header th:replace="~{fragments/commons::header}"></header>
    <main>
        <section id="title">
            <h2>Offers</h2>
        </section>

        <section id="offers">
            <div class="offer">
                <div class="offer-image">
                    <img th:src="@{/img/car-for-sale.png}"/>
                </div>
                <div class="offer-details">
                    <h2>2023 Model XYZ Sedan</h2>
                    <ul>
                        <li>Model: XYZ Sedan</li>
                        <li>Engine: 2.5L V6</li>
                        <li>Transmission: Automatic</li>
                        <li>Color: Midnight Black</li>
                        <li>Odometer: 123 000KM</li>
                        <li>Price: 5000 USD</li>
                    </ul>
                    <a href="/offer" class="cta-button">Go to offer</a>
                </div>
            </div>
            <div class="offer">
                <div class="offer-image">
                    <img th:src="@{/img/car-for-sale.png}"/>
                </div>
                <div class="offer-details">
                    <h2>2023 Model XYZ Sedan</h2>
                    <ul>
                        <li>Model: XYZ Sedan</li>
                        <li>Engine: 2.5L V6</li>
                        <li>Transmission: Automatic</li>
                        <li>Color: Midnight Black</li>
                        <li>Odometer: 123 000KM</li>
                        <li>Price: 5000 USD</li>
                    </ul>
                    <a href="/offer" class="cta-button">Go to offer</a>
                </div>
            </div>
            <div class="offer">
                <div class="offer-image">
                    <img th:src="@{/img/car-for-sale.png}"/>
                </div>
                <div class="offer-details">
                    <h2>2023 Model XYZ Sedan</h2>
                    <ul>
                        <li>Model: XYZ Sedan</li>
                        <li>Engine: 2.5L V6</li>
                        <li>Transmission: Automatic</li>
                        <li>Color: Midnight Black</li>
                        <li>Odometer: 123 000KM</li>
                        <li>Price: 5000 USD</li>
                    </ul>
                    <a href="/offer" class="cta-button">Go to offer</a>
                </div>
            </div>
            <div class="offer">
                <div class="offer-image">
                    <img th:src="@{/img/car-for-sale.png}"/>
                </div>
                <div class="offer-details">
                    <h2>2023 Model XYZ Sedan</h2>
                    <ul>
                        <li>Model: XYZ Sedan</li>
                        <li>Engine: 2.5L V6</li>
                        <li>Transmission: Automatic</li>
                        <li>Color: Midnight Black</li>
                        <li>Odometer: 123 000KM</li>
                        <li>Price: 5000 USD</li>
                    </ul>
                    <a href="/offer" class="cta-button">Go to offer</a>
                </div>
            </div>
            <div class="offer">
                <div class="offer-image">
                    <img th:src="@{/img/car-for-sale.png}"/>
                </div>
                <div class="offer-details">
                    <h2>2023 Model XYZ Sedan</h2>
                    <ul>
                        <li>Model: XYZ Sedan</li>
                        <li>Engine: 2.5L V6</li>
                        <li>Transmission: Automatic</li>
                        <li>Color: Midnight Black</li>
                        <li>Odometer: 123 000KM</li>
                        <li>Price: 5000 USD</li>
                    </ul>
                    <a href="/offer" class="cta-button">Go to offer</a>
                </div>
            </div>
        </section>
    </main>
    <footer th:replace="~{fragments/commons::footer}"></footer>
</body>

</html>
