<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/commons::head}"></head>

    <body>
        <header th:replace="~{fragments/commons::header}"></header>
        <main>
            <section id="introduction">
                <h2>Introduction</h2>
                <p>Welcome to <span class="red-two">2</span>drive's Privacy Policy. This page informs you of our policies regarding the collection, use, and disclosure of personal information we receive from users of our site.</p>
                <p>By using our website, you agree to the collection and use of information in accordance with this policy.</p>
            </section>

            <section id="information-collected">
                <h2>Information Collected</h2>
                <p>We may collect and process the following information:</p>
                <ul>
                    <li>Contact information, including email address.</li>
                    <li>Demographic information, such as postcode, preferences, and interests.</li>
                    <li>Other information relevant to customer surveys and/or offers.</li>
                </ul>
                <p>This information is collected when you fill out forms on our website, interact with us on social media, or communicate with us via email.</p>
            </section>

            <section id="use-of-information">
                <h2>Use of Information</h2>
                <p>We use the collected information for various purposes, including:</p>
                <ul>
                    <li>Internal record keeping.</li>
                    <li>Improving our products and services.</li>
                    <li>Sending promotional emails about new products, special offers, or other information which we think you may find interesting.</li>
                    <li>Customizing the website according to your interests.</li>
                </ul>
            </section>

            <section id="security">
                <h2>Security</h2>
                <p>We are committed to ensuring that your information is secure. To prevent unauthorized access or disclosure, we have put in place suitable physical, electronic, and managerial procedures to safeguard and secure the information we collect online.</p>
            </section>

            <section id="third-party-disclosure">
                <h2>Third-Party Disclosure</h2>
                <p>We do not sell, trade, or otherwise transfer your personally identifiable information to third parties unless we provide you with advance notice.</p>
            </section>

            <section id="cookies">
                <h2>Cookies</h2>
                <p>Our website may use cookies to enhance your experience. You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer.</p>
            </section>

            <section id="changes-to-privacy-policy">
                <h2>Changes to Privacy Policy</h2>
                <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes.</p>
            </section>

            <section id="contact">
                <h2>Contact Us</h2>
                <p>If you have any questions or concerns about our Privacy Policy, please contact us at:</p>
                <p>Email: privacy@yourcompany.com</p>
            </section>
        </main>
        <footer th:replace="~{fragments/commons::footer}"></footer>
    </body>
</html>
