<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{fragments/commons::head}"></th:block>
        <link rel="stylesheet" href="/css/profile.css"/>
    </head>

    <body>
        <header th:replace="~{fragments/commons::header}"></header>
        <main>
            <section id="profile">
                <div class="profile-container">
                    <div class="profile-image">
                        <img th:src="@{/img/user.png}"/>
                    </div>
                    <p class="text-success" th:if="${editSuccess == true}">User updated successfully</p>
                    <p class="text-danger" th:if="${editSuccess == false}">User could not be updated. Please try again or contact administrator</p>
                    <div class="profile-details">
                        <h2>Profile details</h2>
                        <ul>
                            <li th:text="'Username: ' + ${username}">Username: john_doe</li>
                            <li th:text="'First name: ' + ${firstName}">First name: John</li>
                            <li th:text="'Last name: ' + ${lastName}">Last name: Doe</li>
                            <li th:text="'Email: ' + ${email}">Email: john-doe@yahoo.com</li>
                            <li th:text="'Phone number: ' + ${phoneNumber}">Phone number: 0888204060</li>
                        </ul>
                        <a class="cta-button" th:href="@{/edit-profile}">Edit profile</a>
                    </div>
                </div>
            </section>
        </main>
        <footer th:replace="~{fragments/commons::footer}"></footer>
    </body>
</html>
